{% extends "attendance/base.html" %}
{% block title %}Student Registered Successfully - Farm Management System{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="alert alert-success text-center">
        <h4 class="alert-heading">Student Registered Successfully!</h4>
        <p>The student has been successfully added to the system.</p>
        <hr>
        <div class="d-flex justify-content-center gap-2">
          <a class="btn btn-success" href="{% url 'attendance:student_create' %}">Register Another Student</a>
          <a class="btn btn-primary" href="{% url 'attendance:student_list' %}">View All Students</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
